.Food-Button, .Drink-Button, .Dessert-Button, .Food-Button img, .Drink-Button img, .Dessert-Button img {
    width: 70px;
    height: 50px;
}

.Food-Button {
    background-color: red;
}

.Food-Button:hover {
    background-color: red;
    filter: brightness(85%);
    cursor: pointer;
    transition: all 0.2;
}

.Dessert-Button {
    background-color: rgb(255, 209, 6);
}

.Dessert-Button:hover {
    background-color: rgb(255, 209, 6);
    filter: brightness(85%);
    cursor: pointer;
    transition: all 0.2;
}

.Drink-Button {
    background-color: rgba(49, 49, 245, 0.6);
}

.Drink-Button:hover {
    background-color: rgba(49, 49, 245, 0.6);
    filter: brightness(85%);
    cursor: pointer;
    transition: all 0.2;
}

.Food-Content, .Drink-Content, .Dessert-Content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
}


.Food-Content p, .Drink-Content p, .Dessert-Content p, .LSM-Content p {
    width: 4.5vw;
    font-size: 9px;
    margin: 0;
    color: white;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .Food-Content p, .Drink-Content p, .Dessert-Content p, .LSM-Content p {
        width: 11.2vw;
        font-size: 9px;
        margin: 0;
        color: white;
        font-weight: 900;
    }
}

.Food-Body {
    position: relative;
}

.Food-Body div {
    position: absolute;
    transform: translateY(-25px);
    font-weight: 900;
    height: 0;
    width: 0;
    border-bottom: 20px solid yellow;
    border-right: 30px solid  transparent;
}

.Dessert-Content p {
    color: black;
}

.LSM-Button, .LSM-Button img {
    width: 75px;
    height: 65px;
}

.LSM-Button {
    margin-left: 20px;
}

.LSM-Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

.LSM-Button, .LSM-Button img {
    background-color: rgba(180, 12, 180, 0.938);
}

.LSM-Content p {
    font-size: 12px;
    margin-top: 12px;
}

