
.Left-Side-Sim {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.Current-Items-Container {
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    overflow: scroll;
    border: 2px solid rgba(80,80,80, 0.5);
}

.Orders-Placed {
    margin-right: 20%;
}

.Mock-Orders-Container {
    background-color: lightcoral;
    border: 2px solid rgba(80,80,80, 0.5);
}

.Item-Drink  {
    color: red;
    font-size: small;
    transform: translateX(-10px);
}

.Item-Drink2  {
    font-size: small;
    transform: translateX(-10px);
}

.Item-Side {
    transform: translateX(-15px);
}

.Item-Wrapper2 {
    background-color: black;
    color: white; 
}

.Pending-Orders {
    color: black;
}

.Pending-Orders li {
    list-style: none;
    margin-left: 15px;
}

.Pending-Orders h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.Leaderboard-Btn {
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 7vh;
}

.Leaderboard-Btn:hover {
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(0, 0, 245, 0.6);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 7vh;
}

.Customer-Start-Btn {
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(220, 20, 60);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

.Customer-Start-Btn:hover {
    margin: 0 5px;
    padding: 10px;
    background-color: rgba(220, 20, 60, 0.6);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .Left-Side-Sim {
        display: grid;
        grid-template-rows: 1.2fr 1fr;
    }

    .Orders-Placed {
        margin-right: 0;
    }

    .Pending-Orders h2 {
        margin-left: 22vw;
    }

    .Top-Container {
        background-color: #ccc;
    }

    .Customer-Start-Btn {
        margin: 0 5px;
        padding: 10px;
        margin-left: 15%;
        background-color: rgba(220, 20, 60);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
    }
    
    .Customer-Start-Btn:hover {
        margin: 0 5px;
        padding: 10px;
        margin-left: 15%;
        cursor: pointer;
        background-color: rgba(220, 20, 60, 0.6);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        transition: all 0.2s;
    }

    .Leaderboard-Btn {
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.7);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        margin-bottom: 15px;
        margin-top: 7vh;
        margin-left: 15%;
    }

    .Leaderboard-Btn:hover {
        margin: 0 5px;
        padding: 10px;
        background-color: rgba(0, 0, 245, 0.6);
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 7vh;
        margin-left: 15%;
    }

}

@media only screen and (min-width: 600px){

    .Left-Side-Sim {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1.2fr 1fr;
    }

    .Current-Items-Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px;
        overflow: scroll;
    }

    .Orders-Placed {
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px){

    .Left-Side-Sim {
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: auto;
    }

    .Mock-Orders-Container {
        margin-left: 16%;
    }

    .Pending-Orders h2 {
        border-bottom: 2px solid black;
        padding-bottom: 10px;
        font-size: 15px;
        margin-left: 45%;
    }

    .Orders-Placed {
        padding-left: 36%;
    }

    .Leaderboard-Btn {
        margin: 0 5px;
        padding: 10px;
        background-color: rgba(0, 0, 255, 0.7);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        margin-bottom: 15px;
        margin-top: 7vh;
        margin-left: 12vw;
    }
    
    .Leaderboard-Btn:hover {
        margin: 0 5px;
        padding: 10px;
        background-color: rgba(0, 0, 245, 0.6);
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 7vh;
        margin-left: 12vw;
    }

    .Customer-Start-Btn {
        margin: 0 5px;
        padding: 10px;
        background-color: rgba(220, 20, 60);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        margin-left: 12vw;
        margin-bottom: 50px;
    }
    
    .Customer-Start-Btn:hover {
        margin: 0 5px;
        padding: 10px;
        background-color: rgba(220, 20, 60, 0.6);
        border-radius: 5px;
        color: white;
        font-weight: bolder;
        margin-left: 12vw;
        cursor: pointer;
        margin-bottom: 50px;
        transition: all 0.2s;
    }
    
}

@media only screen and (min-width: 1055px) {

    .Leaderboard-Btn {
        margin-right: 8%;
    }
    
    .Leaderboard-Btn:hover {
        margin-right: 8%;
    }

    .Customer-Start-Btn {
        margin-right: 12%;
    }
    
    .Customer-Start-Btn:hover {
        margin-right: 12%;
    }
}

@media only screen and (min-width: 1100px) {

    .Customer-Start-Btn {
        margin-right: 20%;
    }
    
    .Customer-Start-Btn:hover {
        margin-right: 20%;
    }

    .Leaderboard-Btn {
        margin-right: 20%;
    }
    
    .Leaderboard-Btn:hover {
        margin-right: 20%;
    }

    .Pending-Orders {
        margin-right: 0;
    }

    .Orders-Header {
        margin-right: 5%;
    }

}

@media only screen and (min-width: 1200px) {

    .Customer-Start-Btn {
        margin-right: 0;
        transform: translateX(-37px);
        width: 100px;
    }
    
    .Customer-Start-Btn:hover {
        margin-right: 0;
        transform: translateX(-37px);
        width: 100px;
    }

    .Leaderboard-Btn {
        margin-right: 0;
        transform: translateX(-37px);
    }
    
    .Leaderboard-Btn:hover {
        margin-right: 0;
        transform: translateX(-37px);
    }

    .Mock-Orders-Container {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1460px){

    .Left-Side-Sim {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

}