
.Left-Side-Sim {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.Current-Items-Container {
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    overflow: scroll;
}

.Mock-Orders-Container {
    background-color: lightcoral;
}

.Item-Drink  {
    color: red;
    font-size: small;
    transform: translateX(-10px);
}

.Item-Drink2  {
    font-size: small;
    transform: translateX(-10px);
}

.Item-Side {
    transform: translateX(-15px);
}

.Item-Wrapper2 {
    background-color: black;
    color: white; 
}

.Pending-Orders {
    color: black;
}

.Pending-Orders li {
    list-style: none;
    margin-left: 15px;
}

.Pending-Orders h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
