
.Left-Side-Sim {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
}

.Current-Items-Container {
    background-color: lightgoldenrodyellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    overflow: scroll;
}

.Mock-Orders-Container {
    background-color: lightcoral;
}

.Item-Wrapper li {
    list-style: none;
    color: red;
    font-size: small;
    margin-left: 45px;
}

.Item-Wrapper2 {
    background-color: black;
    color: white; 
}


.Pending-Orders h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}