
.Menu-Square-Button {
    color: white;
    background-color: rgb(65, 105, 225);
    border-radius: 17px;
    width: 38px; 
    height: 38px;
    padding: 15px;
    margin: 5px;
    display: grid;
    justify-content: center;
}

.Menu-Square-Content-3 {
    font-size: 9px;
    font-weight: 700;
    display: grid;
}

.Menu-Square-Content {
    font-weight: 600;
    font-size: 13px;
    display: grid;
}

.Menu-Square-Content {
    font-weight: 600;
    font-size: 13px;
    display: grid;
}

.Subname-1:hover, .Subname-2:hover {
    color: yellow;
    text-shadow: -1px 1px 0 #000,
				1px 1px 0 #000,
				1px -1px 0 #000;
    cursor: pointer;
    transition: all 0.2s;
}

.Subname-2 {
    border-top: 2px solid white;
}

.Menu-Square-Content a, .Menu-Square-Content-3 a {
    color: white;
    text-decoration: none;
}

.Menu-Square-Content a.active{
    color: yellow;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
}
