
.Menu-Square-Button {
    color: white;
    background-color: blue;
    border-radius: 17px;
    width: 55px; 
    height: 50px;
    padding: 15px;
    margin: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Menu-Square-Content-3 {
    font-size: 11px;
    font-weight: 700;
}

.Menu-Square-Content {
    font-weight: 600;
}

.Subname-1 {
    transform: translateY(-18px);
}

.Subname-2 {
    transform: translateY(-32px);
    border-top: 2px solid white;
}

.MenuSquareButton p {
  
}