
.Simulator-Container {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 100vh;
}

@media only screen and (max-width: 600px) {
    .Simulator-Container {
        background-color: #ccc;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh;
        justify-content: center;
    }
    
}
