
.Simulator-Container {
    background-color: #ccc;
}

@media only screen and (max-width: 600px) {
    .Simulator-Container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 992px) {
    .Simulator-Container {
        background-color: #ccc;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 1200px) { 

    .Simulator-Container {
        margin-right: 0;
    }
}

