.Sizing-Bar {
    display: grid;
    margin-left: 12px;
    transform: translateY(-17px);
}

.Sizing-Button {
    background-color: yellow;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-top: 20px;
    transform: rotate(45deg);
}

.Sizing-Button-Content {
    display: flex;
    justify-content: center;
    transform: translateY(-45px);
    margin-top: 12px;
    margin-left: 15px;
}

.abbreviation {
    font-weight: 700;
    font-size: 24px;
    transform: rotate(-45deg);
}

.sizing-name {
    font-weight: 300;
    font-size: 15px;
    transform: translateY(-20px);
}
