
.SpecialButton {
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 38px; 
    height: 38px;
    padding: 15px;
    margin: 5px;
    position: relative;
    font-size: 12px;
}

.Special-Bar, .Special-Left-Buttons, .Special-Right-Buttons{
    display: flex;
}

.Special-Bar {

}

.Special-Right-Buttons {

}

.Special-Left-Buttons {
    
}